img{
    display: block;
    margin:  0 ;
}
h1{
    color: rgb(254, 254, 255);
    padding: 10px 0;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
}
html{
    background-color: rgb(141, 162, 230);
}
body{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(80, 77, 211);
}
p{
    color: #ffffff;
}
ul{
    color: #ffffff;
}
label{
    color: #ffffff;
}